.Button {
    padding: 2rem 4rem; 
    font-size: 2rem;
    background-color: lightgray;
    border-radius: 8px;
    margin: 0.25rem;
}

.Button.Selected {
    background-color: darkgray;
    border: 2px solid black;
}

.Button.Locked {
    background-color: lightgreen;
    cursor: not-allowed;
}